.addFunds {
    width: 100%;
    padding: 2%;
    margin-top: 5%;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px 0px;
    border-radius: 1%;


}

.add-button {
    background: blue;
}

.balance {
    display: grid;
    align-items: flex-start;
    margin-top: 5%;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px 0px;
  
    /* padding: 3%; */
}

.withdrawFunds {
    width: 100%;
    margin-top: 1%;
    padding: 2%;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px 0px;
    border-radius: 1%;

}

.pie-chart {
    width: 70%;
    height: 80%;
    margin-left: 5%;
    margin-top: 5%;
    padding-bottom: 20%;
    background: #FFFFFF;
    border-radius: 3%;
    box-shadow: 0px 2px 5px 0px;

}

body {
    font-family: 'Archivo', Bold 700;
}
