.addFunds {
    width: 100%;
    padding: 2%;
    margin-top: 5%;
    background: #FFFFFF;
}

.add-button {
    background: blue;
}

.balance {
    display: grid;
    align-items: flex-start;
    margin-top: 5%;
    background: #FFFFFF;
  
    /* padding: 3%; */
}

.withdrawFunds {
    width: 100%;
    margin-top: 1%;
    padding: 2%;
    background: #FFFFFF;
}

.pie-chart {
    width: 70%;
    height: 80%;
    margin-left: 5%;
    margin-top: 5%;
    padding-bottom: 20%;
    background: #FFFFFF;
}

body {
    font-family: 'Archivo', Bold 700;
}
